<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
  ">
  <bean name ="emp" class ="com.blueocean.springcorelearnings.firstproject.Employee">
  	<property name="Id" value ="1"></property>
  	<property name="Name" value ="Testing"></property>
  	
  </bean>
</beans>