<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context ="http://www.springframework.org/schema/context"
	xmlns:p ="http://www.springframework.org/schema/p"
		xmlns:util ="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
	<context:annotation-config/>
<bean id ="address" class ="com.blueocean.springcorelearnings.thirdlession.Address" p:id="10" 
p:name="balamurugan"></bean>
<!-- autowire by name or type -->
<bean id ="employee" class ="com.blueocean.springcorelearnings.thirdlession.Employee" p:id="20" autowire="byName"></bean>
<!-- autowire by constructor -->
<bean id ="college" class ="com.blueocean.springcorelearnings.thirdlession.College" autowire="constructor"></bean>
<!-- -autowire by annotation by property -->
<bean id ="metal" class ="com.blueocean.springcorelearnings.thirdlession.Metal" p:id="200" p:name="testr"></bean>
<bean id ="nut" class ="com.blueocean.springcorelearnings.thirdlession.Nut" p:id="10" p:name="testing"></bean>
<!-- -autowire by annotation by constructor -->
<bean id ="bolt" class ="com.blueocean.springcorelearnings.thirdlession.Bolt"></bean>
<!-- standalone collections  -->
<bean id ="productlist" class="com.blueocean.springcorelearnings.thirdlession.ProductList">
	<property name ="products">
	<ref bean ="product"/>
	</property>
</bean>
<util:list list-class="java.util.LinkedList" id ="product">
	<value>Mac Book</value>
	<value>Laptop</value>
	<value>Product</value>
</util:list>
</beans>

